<footer class="fs-6">
    <p class="text-center">Made with ❤️ by 
        <a href="https://nicolas-castellano.com/" target="_blank" class="link-underline-opacity-0">
            Nicolas Castellano
        </a> 
    </p>
</footer>

@code {

}
