@page "/product-categories"
@inject IBlazorAppBase _blazorAppBase

<PageTitle>Product Categories</PageTitle>

<h1>Product Categories</h1>


@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _blazorAppBase.setTitle("Categories");
    }
}