@page "/product-items"
@inherits ProductItemsBase


<PageTitle>Items</PageTitle>

<h1>Product Items</h1>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="col fs-5 fw-semibold">Id</th>
                <th scope="col" class="col fs-5 fw-semibold">Item Name</th>
                <th scope="col" class="col fs-5 fw-semibold">Product Product Reference</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in ProductItems)
            {
                <tr onclick="window.location='/product-items/@item.Id'" class="clickable" style="cursor: pointer;">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@(item.ProductReferenceName.Length > 0 ? item.ProductReferenceName : "No Description")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
