@page "/product-items"
@inject IBlazorAppBase _blazorAppBase


<PageTitle>Product Items</PageTitle>

<h1>Product Items</h1>


@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _blazorAppBase.setTitle("Items");
    }
}
