@page "/search"
@inherits SearchBase
@using Inventorium.Web.Components.Layout



<PageTitle>@BlazorAppBase.GetTitle()</PageTitle>


<h1>Search</h1>

<div class="table-responsive">

   @*  <p>@SearchParam</p> *@
    
</div>
